.partner-title {
  border-radius: 4rem;
  padding: 1rem;
}

.gold-title {
  background-color: gold;
}

.silver-title {
  background-color: rgb(173, 173, 173);
}

.bronze-title {
  background-color: rgba(170, 84, 63, 0.884);
}