$content-width: 1000px;
$main: #FFFFFF;
$font-style: 'Open Sans', sans-serif;
$font-color: #424344;
$link-color: #E01E1E;
$link-hover-color: #5b5a54;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #E01E1E;
$light: #E7EDF4;
$header:  #E01E1E;
$body-bg-color: #efefee;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
} 