body {
	background-color: $body-bg-color;
	margin: 0;
	color: $font-color;
	font-family: $font-style;
	font-size: 1.1em;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
}
h1,
h2,
h3 {
	font-weight: 600;
	color: $heading-font-color;
	font-family: $heading-font;
	line-height: 1.5;
}
h1 {
	color: $main;
	font-size: 2.5em;
	a,
	a:visited {
		text-decoration: none;
		color: $main;
	}
}
h2 {
	font-size: 2em;
}
a,
a:visited {
	color: $link-color;
	text-decoration: underline;
	font-weight: bold;
}
a:hover {
	color: $link-hover-color;
	text-decoration: underline;
}
header {
	background: $header;
	padding: 0px 15px;
	text-align: center;
	margin: 50px 0 0;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
main {
	padding: 0 15px;
	max-width: $content-width;
	margin: 0 auto;
}
time {
	color: $link-hover-color;
}
.container {
	max-width: $content-width;
	margin: 0 auto;
}

/* Aside */

aside {
	position: fixed;
	top: 0;
	left: 0;
	background: $body-bg-color;
	width: 100%;
	z-index: 2;
	border-bottom: 1px solid lighten($light, 30%);
	box-shadow: 0px 1px 1px RGBA(4, 25, 54, .1);
	nav {
		max-width: 1000px;
		min-width: 800px;
		margin: 0 auto;
		text-align:center;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			display: inline-block;
			li {
				float: left;
				position: relative;
				a {
					text-decoration: none;
					display: block;
					padding: 15px;
					font-family: 'Muli', sans-serif;
					line-height: 20px;
					margin-bottom: -1px;
					box-shadow: 0;
					&:hover,
					&:active {
						background: $header;
						text-decoration: none;
						color: $main;
					}
				}
			}
		}
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
}
footer {
	text-align: center;
	padding: 40px;
}

.nouvelle {
	margin-left: 50px;
}

.nouvelle-titre{
	@extend h3;
	clear:both;
	font-size:26px;
}

.nouvelle-content{
	color: $font-color;
	font-size: 16px;
}

.equipe{
	display: flex;
    font-size: 0;
    flex-wrap:wrap;
    margin:-10px 0 0 -10px;
}

.departement-name{
	@extend h3;
	font-size:26px;
	display: inline;
    margin:10px 0 0 10px;   
    width: 100%;
}

.departement {
	margin-left: 50px;
	font-size:22px;
	color: $font-color;
	display: inline-block; 
    width: 100%;
}

.responsable{
	margin-left: 50px;
	font-size:22px;
	color: $font-color;
	display: inline-block; 
    width: 100%;
    margin-bottom: 20px;
}

.responsable-titre{
	font-size:14px;
}

.departement-membre{
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
	display: inline-block;
	flex-flow: row wrap;
	flex-grow: 1;
	margin-left: 50px;
	font-size:18px;
	color: $font-color;
	display: inline-block;
    flex-grow: 1;   
    width: 50%
}

.partenaire img{
	margin:20px;
}

p{
	margin: 0
}

.post-right-image {
    width: 300px;
    height: auto;
    margin: 10px;
    float: right;
}

article *{
	text-align: justify;
}

article {
	text-align: justify;
}

.article img{
	
	max-width: 100%;
}

hr{
	clear:both;
}

.footer-ul li{
	
	display: inline;
	margin-left: 20px;
	margin-right:20px;
}